.loginInput {
    width: 343px;
    height: 52px;
}

.lotoButtonText{
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}