body{
  background: url("./assets/img/background.svg");
  background-size: cover  ;
}

.App {
  text-align: center;
  width: 90vw;
  height: 100vh;
  margin:0px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#userNameInput,  #userPasswordInput, #loginButton{
  width: 343px;
  height: 52px;
  margin-top: 16px;
}

#loginButton {
  background: linear-gradient(0deg, #FFB438 45.28%, #FFB838 70.12%, #FFC338 93.15%);
  border-radius: 6px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
